header {
  width: 100%;
  height: 100px;
  background-color: antiquewhite;
  margin: 0px;
  padding: 0px;
  grid-area: "a";
}
header p {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-areas: "a" "b" "c";
  grid-template-rows: max-content 1fr max-content;
  min-height: 100vh;
}
main {
  grid-area: "b";
  background-color: blueviolet;
  
}
footer {
  grid-area: "c";
  height: 100px;
  background-color: blue;
}
